* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
}
ul,
li,
nav,
#magnifier {
    display: inline;
}

.right {
    float: right;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
}
main {
    margin: auto;
    width: 272px;  
}
#googlelogo {
    align-content: center;
}